/// Add utility classes to use as single-purpose declarations
/// usable across all elements and materials.

@use '../../helpers' as *;

.no-margin {
  margin: 0;
}

.no-word-spacing {
  word-spacing: -0.25em;
}

.uppercase {
  text-transform: uppercase;
}
