@use 'sass:math';
@use '../../../helpers' as *;

.banner {
  $root: &;
  $items: 5;

  @include flex-display;
  @include align-items(center);
  padding: size(2) 0;
  background-color: red;
  overflow: hidden;

  &--reverse {
    #{$root}__item {
      @include animation-direction(reverse);
    }
  }

  &:hover {
    #{$root}__item {
      @include animation-play-state(paused);
    }
  }

  &__item {
    @include flex(1 0 auto);
    @include transform(translateX(-100%));
    @include animation(no-transform 3s linear infinite);
    width: math.div(100%, ($items - 1));
    max-width: math.div(100%, ($items - 1));
    font-size: 1rem;
  }
}
