@use 'sass:math';
@use '../../../helpers' as *;

.banner {
  $root: &;

  @include flex-display;
  @include align-items(center);
  position: sticky;
  top: 0;
  padding: size(1.5) 0;
  background-color: color(primary, main);
  color: color(primary, text);
  overflow: hidden;

  &--reverse {
    #{$root}__item {
      @include animation-direction(reverse);
    }
  }

  &:hover {
    #{$root}__item {
      @include animation-play-state(paused);
    }
  }

  &__item {
    @include flex-shrink(0);
    @include transform(translateX(-100%));
    @include animation(no-transform 5s linear infinite);
    font-size: max(1.25rem, 1.2vw);
    padding-right: 2.5em;
  }
}
