@use 'sass:math';
@use '../../../helpers' as *;

.banner {
  $root: &;

  @include flex-display;
  @include align-items(center);
  position: sticky;
  top: 0;
  background-color: color(primary, main);
  color: color(primary, text);
  overflow: hidden;
  z-index: 10;

  &--reverse {
    #{$root}__item {
      @include animation-direction(reverse);
    }
  }

  // Only hover if pointer device
  @media (any-hover: hover) and (any-pointer: fine) {
    &:hover {
      #{$root}__item {
        @include animation-play-state(paused);
      }
    }
  }

  @include focus-parent {
    outline: 2px dashed color(focus, main);
  }

  &__item {
    @include flex-shrink(0);
    @include transform(translateX(-100%));
    @include animation(no-transform 5s linear infinite);
    font-size: max(1.25rem, 1.25vw);
    padding: 0.5em 1.25em 0.5em 1.25em;

    // Only hover if pointer device
    @media (any-hover: hover) and (any-pointer: fine) {
      &:hover {
        text-decoration: underline;
      }
    }

    @include focus-parent {
      @include animation-play-state(paused);
    }
  }
}
